.x-accept {
	background-image: url(../images/icons/accept.png);
}

.x-add {
	background-image: url(../images/icons/add.png);
}

.x-edit {
	background-image: url(../images/icons/pencil.png);
}

.x-delete {
	background-image: url(../images/icons/delete.png);
}

.x-add-picture {
	background-image: url(../images/icons/picture_add.png);
}

.x-edit-folder {
	background-image: url(../images/icons/folder_edit.png);
}

.x-delete-folder {
	background-image: url(../images/icons/folder_delete.png);
}

.x-data-first {
	background-image: url(../images/icons/resultset_first.png);
}

.x-data-last {
	background-image: url(../images/icons/resultset_last.png);
}

.x-data-next {
	background-image: url(../images/icons/resultset_next.png);
}

.x-data-previous {
	background-image: url(../images/icons/resultset_previous.png);
}