<!DOCTYPE html>
<html>
	<head>
		<title>Canvace Development Environment</title>
		<link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
		<script type="text/javascript" href="/extjs/ext-all.js"></script>
		<script type="text/javascript" href="/app.js"></script>
	</head>
	<body>
		<!-- TODO -->
	</body>
</html>
